/*
 * Compatibility with WordPress 6.7 and
 * newer customizer changes
 */
#customize-controls .control-section-bgtfw-upsell .accordion-section-title::after {
  content: none;
}

#customize-controls .accordion-section-title {
  min-height: 40px;
}

#customize-controls .accordion-section-title.dashicons-cover-image::before {
  margin-top: 10px;
}

#customize-controls .accordion-section-title::before {
  position: absolute;
  padding: 10px;
  margin-right: 20px;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
}

#customize-controls .accordion-section-title button.accordion-trigger {
  width: calc( 100% - 3.75em);
  padding: 0.5em 0 0 3.75em;
  min-height: 40px;
}

#customize-controls .accordion-section-title button.accordion-trigger:hover, #customize-controls .accordion-section-title button.accordion-trigger:focus, #customize-controls .accordion-section-title button.accordion-trigger:active {
  background: transparent;
}
